<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Form</title>
    <link rel="stylesheet" href="build/app.css">
</head>
<body ng-app="contact-form" ng-controller="ContactFormCtrl">
    <div id="holder">
        <div class="contact-form">
            <div class="contact-form__main-header">
                <div class="contact-form__name">
                    Contact me
                </div>
                <div class="contact-form__tip">
                    Required fields are marked
                </div>
            </div>
            <div class="contact-form__fields">
                <div class="contact-form__info-block">
                    <div class="contact-form__group">
                        <div class="contact-form__input">
                            <div class="contact-form__header">First Name</div>
                            <input type="text" ng-model="contact.name.first">
                        </div>
                        <div class="contact-form__input">
                            <div class="contact-form__header">Last Name</div>
                            <input type="text" ng-model="contact.name.last">
                        </div>
                    </div>
                    <div class="contact-form__group">
                        <div class="contact-form__input">
                            <div class="contact-form__header">Company Name</div>
                            <input type="text" ng-model="contact.company.name">
                        </div>
                        <div class="contact-form__input">
                            <div class="contact-form__header">Company Industry</div>
                            <input type="text" ng-model="contact.company.industry">
                        </div>
                    </div>
                    <div class="contact-form__group">
                        <div class="contact-form__input">
                            <div class="contact-form__header--optional">Company Phone</div>
                            <input type="text" ng-model="contact.company.address.phone" set-mask="(000) 000-0000" placeholder="(000) 000-0000">
                        </div>
                        <div class="contact-form__input">
                            <div class="contact-form__header--optional">Company Email</div>
                            <input type="text" ng-model="contact.company.address.email">
                        </div>
                    </div>
                    <div class="contact-form__group">
                        <div class="contact-form__input--area">
                            <div class="contact-form__header">Company Address</div>
                            <textarea rows="2"  ng-model="contact.company.address.place" placeholder="Country, City, Street, №"></textarea>
                        </div>
                    </div>
                </div>
                <div class="contact-form__info-block">
                    <div class="contact-form__group">
                        <div class="contact-form__input">
                            <div class="contact-form__header">Event Date</div>
                            <input type="text" ng-model="contact.event.date" set-mask="00/00/0000" placeholder="mm/dd/yyyy">
                        </div>
                        <div class="contact-form__input">
                            <div class="contact-form__header"># of Attendees</div>
                            <input type="text" ng-model="contact.event.attendees">
                        </div>
                    </div>
                    <div class="contact-form__group">
                        <div class="contact-form__input--area">
                            <div class="contact-form__header--optional">Event Description</div>
                            <textarea rows="4" ng-click="contact.event.description"  placeholder="Here you can add more information about the upcoming event"></textarea>
                        </div>
                    </div>
                    <div class="contact-form__submit">
                        <button class="contact-form__send" ng-click="saveContact()" result-message>Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="build/app.js"></script>
</body>
</html>